.header {
  z-index: 1;
  position: sticky;
  top: 0;
  margin-bottom: 16px;
  padding: 4px;
  width: 100%;
  background-color: #f8f3ecdf;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  font-size: 16px;
  border: 1px solid #5a4630;
  color: #282424;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 500px;
  height: auto;
  background-color: transparent;
  transition: border-color 0.5s ease;

  &::placeholder {
    color: #a47f5889;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: #a47f58;
  }
}
