.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 35, 35, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  border-radius: 8px;
}

.image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
  display: block;
}

.imageContainer {
  background-color: #fff;
  padding: 4px 4px 20px 4px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: visible;
}

.info {
  font-size: 16px;
  color: #333;
  padding-top: 16px;
  background-color: #fff;
}

.modalCloseButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #eeeeee9d;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;

  &:hover {
    color: #d4d4d4;
  }
}
